
WidgetTest/WidgetTest.xcodeproj/project.xcworkspace/xcuserdata/harman.xcuserdatad/UserInterfaceState.xcuserstate
WidgetTest/WidgetTest.xcodeproj/xcuserdata/harman.xcuserdatad/xcschemes/xcschememanagement.plist
WidgetTest/WidgetTest.xcodeproj/xcuserdata/harman.xcuserdatad/xcschemes/xcschememanagement.plist
